.table {
    width: 96%;
}

.bloc_header {
    position: relative; 
    height: 200px; 
    width: 100%;
}

.bloc_details {
    position: relative; 
    overflow: auto; 
    max-height: 546px; 
    width: 100%;
}

.result_table .text_right {
    text-align: right;        
}
