.sub_navbar {
  height: 470px;
  overflow: auto;
}

.bloc_form {
  padding-top: 15px;
}

.bloc_form .alert {
  font-size: 130%;
}

.bloc_form .table {
  font-size: 130%;
}

.o_school_evaluations .oe_form_container{
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  -moz-transform: scale(1.2); /* Firefox */      
}

.o_school_evaluations .oe-view-manager {
  position : initial;
}

.o_school_evaluations .oe-view-manager .oe-view-manager-content {
  position : absolute;
  top : 150px;
}

.o_school_evaluations .o_chatter {
  visibility: hidden;
}

.eval_top_buttons {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media(min-width:768px) {
  .sidebar {
    width: 180px;
  }
  #page-wrapper {
        position: inherit;
        margin: 0 0 0 180px;
        padding: 0 10px;
        border-left: 1px solid #e7e7e7;
        /*background-color: #f0f0f0;*/
    }
}

.sidebar ul li a {
  padding : 5px;
}

.credits {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2d6da3;
}

.openerp .badge {
  background-color: #337ab7;
}

.moyenne {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.score_value {
  font-size: xx-large;
  font-weight: bold;
}

.course_group {
  background-color: #f9f9f9;
}

.bloc_form .text-center {
    text-align: center;
}

@media (min-width: 1200px){
.container {
    width: 1064px;
}
}

.alert {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 1px;
}

.vertical-align {
  display: flex;
  align-items: center;
}