@charset "utf-8"

@mixin transform($transform)
    -webkit-transform: $transform
    -moz-transform: $transform
    -ms-transform: $transform
    -o-transform: $transform
    transform: $transform

.thumbnail
    &:hover
        cursor: pointer
        @include transform(scale(1.1))