.oe_school_program:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); }

.oe_school_program_details {
  overflow: hidden; }
