@charset "utf-8"

@mixin flexbox()
    display: -webkit-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex

@mixin transform($transform)
    -webkit-transform: $transform
    -moz-transform: $transform
    -ms-transform: $transform
    -o-transform: $transform
    transform: $transform

.oe_school_program
    &:hover
        cursor: pointer
        @include transform(scale(1.02))

.oe_school_program_details
    overflow: hidden